if SHIELD_BB_40_RIGHT

config ZMK_KEYBOARD_NAME
    default "bb-40 v2"

config ZMK_BLE
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config INPUT
    default y

config SPI
    default y

config PAW3222
    default y

endif #SHIELD_BB_40_RIGHT


if SHIELD_BB_40_LEFT || SHIELD_BB_40_RIGHT

config NFCT_PINS_AS_GPIOS
    default y

config ZMK_SPLIT
    default y

endif # SHIELD_BB_40_LEFT || SHIELD_BB_40_RIGHT
